body {
  background-image: url(img5/img.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.couleur {
  background-color: rgba(231, 170, 171, 0.76);
}
